.dashboard_layout {

    .sidebar {
        // background-color: red;
    
        .ant-menu {
            // background-color: violet;
    
            .ant-menu-item:nth-child(3) {
                // background-color: green;
            }
        }
    }

    .Header {
        padding: 0px;
        background-color: white;
    }

    .content_body {
        margin: 16px 16px;
        padding: 0;
        min-height: calc(100vh - 96px);
        // background: red;
        border-radius: none;
        border: "solid 1px #DDDDDD";
    }

    .dataTable .ant-avatar {
        border: solid 1px #CCCCCC;
        background-color: #CCCCCC;
        margin-right: 10px;
    }
}