.dashboard_layout {
  .sidebar {
    // background-color: red;

    .ant-menu {
      margin-top: 6px;
      // background-color: violet;

      .ant-menu-item:nth-child(3) {
        // background-color: green;
      }
    }
  }

  .ant-layout-sider.sidebar {
    .LogoSet {
      .ant-menu {
        margin-top: 0px;
        background-color: transparent;

        .ant-menu-item {
          height: 64px;
          margin: 0px;
          width: 100%;
          display: flex;
          align-items: center;
        }
        .ant-menu-item-selected {
          background-color: transparent;
          :active {
            background-color: transparent;
          }
        }
      }
    }
    .LogoSet span:nth-child(2) {
      display: inline-block;
      transition-property: display;
      transition-duration: 3s;
      transition-delay: 3s;
      color: #87cdff;
    }
  }
  .ant-layout-sider-collapsed.sidebar {
    .LogoSet {
      .ant-menu {
        .ant-menu-item {
          padding: initial;
          :active {
            background-color: transparent;
          }
        }
        .ant-menu-item-selected {
          background-color: transparent;
        }
      }
    }
    .LogoSet span {
      text-align: center;
      margin: auto;
      display: block;
    }
    .LogoSet span:nth-child(2) {
      display: none;
      transition-property: display;
      transition-duration: 3s;
      transition-delay: 3s;
    }
  }

  .Header {
    padding: 0px;
    background-color: #ffffff;
    // border-bottom: solid 1px #cccccc;
    box-shadow: 0 0px 10px -5px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;

    .ant-row {
      display: flex;
      flex-flow: row wrap;
      min-width: 0;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .left {
      padding-left: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .ant-btn {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
        margin: 5px;
        cursor: pointer;
      }

      .searchBar_header {
        margin: 0 0 0 50px;
        width: 350px;

        .ant-input-affix-wrapper {
          border-start-start-radius: 25px;
          border-end-start-radius: 25px;
          padding-left: 20px;
        }
        .ant-input-group-addon {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          background: transparent;

          .ant-btn {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            border-left-color: white;
            padding-left: 15px;
            padding-right: 15px;
            width: 50px;
          }
        }
        .ant-btn {
          background-color: inherit;
          box-shadow: none;
          margin: 0px;
          cursor: pointer;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;

      .ant-btn {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
        margin: 5px;
        cursor: pointer;
      }
      .ant-avatar {
        border-color: #ffffff;
      }
      .ant-btn-icon {
        color: #858585;
      }
    }
  }

  .content_body {
    margin: 0px;
    padding: 16px;
    height: calc(100vh - 64px);
    // background: red;
    border-radius: 0px;
    border: solid 1px #dddddd;
    overflow-y: auto;
  }

  .dataTable .ant-avatar {
    border: solid 1px #cccccc;
    background-color: #cccccc;
    margin-right: 10px;
  }
}
